li.option {
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  padding: 15px;
  justify-content: center;
  flex-direction: column;
  border: 2px solid var(--gray);
  min-width: 250px;
  max-width: 370px;
}
li.option button {
  text-align: left;
}
.results-container.visible {
  opacity: 1;
  z-index: 9;
}
.results-container {
  opacity: 0;
  z-index: -1;
  text-align: center;
  transition: 0.3s;
  background: #87b5dab8;
  height: 100%;
  border-radius: 20px;
}

li.option:hover {
  border-color: var(--primary-color);
}
.dialogue-container .controls {
  position: absolute;
  z-index: 9;
  border-bottom: 2px solid var(--light-gray);
  padding: 15px;
  background-color: white;
  top: 0;
  margin: 0;
  border-radius: 20px 20px 0 0;
  left: 0;
  width: 100%;
}
.dialogue-container h1 {
  font-family: "Dongle", Verdana, Geneva, Tahoma, sans-serif;
}
.response-container {
  bottom: 0;
  display: flex;
  padding: 20px;
  flex-direction: column;
  left: 0;
  flex: 0.4;
  width: 100%;
}

.chat-container {
  flex: 1;
  box-shadow: 0 3px 7px 3px #61616121;
  background-color: white;
  border-radius: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dialogue-container strong {
  font-family: "Dongle", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
}

.chat-content {
  margin-top: 55px;
  padding: 2rem;
  flex: 1;
}
.dialogue-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
