@import '../../../styles/variables';
@import '../../../styles/mixins';

.confirmation-modal {
  padding: $spacing-4;

  .confirmation-message {
    margin-bottom: $spacing-8;
    color: $color-gray-700;
    font-size: 1rem;
    line-height: 1.5;
  }
}