@import "../../../styles/variables";
@import "../../../styles/mixins";

.tags {
  max-height: 120px;
  overflow-y: visible;
  overflow-x: scroll;
  @include flex(row, flex-start, center, $spacing-4);
}
