.select-container {
  position: relative;
}

.select-container .option-item:last-child {
  border-radius: 0 0 15px 15px;
}
.select-container .option-item:first-child {
  border-radius: 15px 15px 0 0;
}
.select-container .option-item:only-child {
  border-radius: 15px;
}
.select-container .option-item {
  transition: 0.17s;
  padding: 15px;
  width: 100%;
  border-bottom: 1px solid var(--color-gray-300);
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.select-container .option-item:last-child {
  border: none;
}
.select-container .options-list {
  position: absolute;
  width: 100%;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  
  border-radius: 10px;
  background: #fff;
  max-height: 300px;
  overflow-y: auto;

  list-style: none;
  z-index: 1000;
}

.select-container .option-item:hover {
  background: #00000007;
}
