.input-container {
  position: relative;
  display:flex;
  align-items:center;
}

.text-input::placeholder {
  color: var(--dark-gray);
}
.input-container .icon {
  position: absolute;
  right: 5px;
  margin: 0;
  opacity: 0.5;
  cursor: pointer;
}
.text-input {
  position: relative;

  width: 100%;
  flex: 1;
}

.input-container .description {
  text-align: left !important;
}
