@use "../../styles/variables";
@use "../../styles/mixins";

.login-container {
  @include center-content;
  min-height: 100vh;
  padding: $spacing-4;
  background-color: $color-gray-50;
  .auth-status-box {
    background-color: $color-green-100;
    color: $color-green-600;
    padding: $spacing-8;
    border-radius: $border-radius-xl;
    margin: $spacing-6;
  }
  .login-card {
    @include card;
    width: 100%;
    max-width: 28rem;
    padding: $spacing-6;

    .login-header {
      text-align: center;
    }
  }

  .login-footer {
    text-align: center;
    margin-top: $spacing-3;
    font-size: 0.9rem;

    a {
      color: $color-primary;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
